body{
  background: black;
  color: white;
  font-family: Scope One;
  overflow: auto;
}
div{
  background: grey;
  background-size: contain;
  color:white;
  width: 70%;
  padding-right: 15%;
  padding-left: 15%;
  text-align: center;
}
span.username{
  color: blue;
}
